
.admin-dashboard {
    height: 100vh;
    width: 100vw;
}

.admin-dashboard h1 {
    margin: 2rem 0 2rem 3rem;
}

.add-project, .project-list {
    margin: 2rem auto;
    width: 90vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    flex-direction: column;
}

.add-project form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    gap: 2rem;
}

button {
    padding: 8px 12px;
    background-color: #008CBA;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #005f73;
}

.project-item {
    margin-bottom: 20px;
}

.project-item a {
    display: inline-block;
    margin-top: 10px;
}
